Claves numpy

In [ ]:
# para obtener un numero randdom 
from random import sample


azar = sample(range(1,100),20)


#para crear un array a partir de una lista
lista = [0,2,3,4,5,6,7,8,9]
arreglo = np.array(lista)

#crear un arreglo de 3 dimensiones a partir de una lista
arreglo = np.array([[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6]])

#Funcion arange (comienza,termina, espacio)
arreglo = np.arange(10)

#sumar un elemento
 arreglo=arreglo+1
 
 #sumar todos los elementos de un arreglo sum
 arreglo.sum()
 
 # para ver la dimencionalidad
 arreglo.shape
 
 #arreglo x espaciados
 b=np.linspace(0,9,100)
 
 #crear una matriz booleana
np.full((3,3),True,dtype=bool)

#Para explorar las funciones de creación de datos aleatorios:
https://numpy.org/doc/stable/reference/random/legacy.html


#Escribir un arreglo con números enteros del 10 al 100 y seleccionar aquellos que son divisibles por 3<br>

x = np.arange(10,101)
mascara= ((x % 3)== 0)
print(x[mascara])

In [2]:
import pandas as pd
import numpy as np

CLAVES PARA SERIES

In [8]:
#DECLARAR UNA SERIE con (s) mayuscula

a = pd.Series([1,2,3,4,5,6,7,8,9])


#declarar una serie con indices
b = pd.Series([1,2,3,4,5,6,7,8,9], index=["a","b","c","a","b","c","a","b","c"])

In [13]:
#BUSCAR LOS ATRIBUTOS DE UNA SERIE, te entrega el tipo de dato y los valoes
a.values

#LA FUNCION "INDEX" JTE ENTREGA INFORMACION DE LA SERIE, DONDE COMIENZA,DONDE ACABA, Y Y CADA CUANTO ESTAN LOS NUMEROS
# o si los datos son STR te devueleve los datos como tal
a.index

RangeIndex(start=0, stop=9, step=1)

In [ ]:
#DICCIONARIOS Y SERIES
#PARA TRANSFORMAR UN DICCIONARIO EN SERIE DEBEMOS TENER CLARO QUE LAS CLAVES DE DEL DICCIONARIO SE VAN A CONVERTIR EN LOS INDICES DE LAS SERIES.
#pd es el modulo de panda
nombre_serie = pd.Series(nombre_del_diccionario)
print(nombre_del_diccionario)

In [ ]:
#para escoger desde un indice al otro
nombre de la serie['California':'New York']

In [ ]:
# Un escalar repetido a lo largo de un índice
pd.Series(5, index = [100, 200, 300])

# Un diccionario
pd.Series({2:'a', 1:'b', 3:'c'})

In [3]:
import pandas as pd
#para relacionar dos listas en una serie
animales = ['Tortuga', 'Zorro', 'Paloma', 'Elefante']
tipo = ['reptil', 'mamífero', 'ave', 'mamífero']
obj = pd.Series(tipo, index=animales)
obj

Tortuga       reptil
Zorro       mamífero
Paloma           ave
Elefante    mamífero
dtype: object

CLAVES PARA DATAFRAME

In [ ]:
#PARA CONSTRUIR UN DATA FRAME DESDE DOS SERIES

nombre_del_dataframe = pd.DataFrame({"NOMBRE DE LA PRIMERA SERIE":NOMBRE DE LA PRIMERA SERIE,"NOMBRE DE LA SEGUNDA SERIE":NOMBRE DE LA SEGUNDA})

In [ ]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

In [ ]:
#MANEJA EL MISMO INDEX QUE LA SERIE, AHORA SE PUEDEN SACAR LOS NOMBRES DE CADA SERIE QUE SERIA LAS COLUMNAS

NOMBRE_DataFrame.colums

ARMAR OTRA SERIE DE UN DATAFRAME

In [ ]:
#para agregar otra serie al dataframe
nombre_dataframe["nombre de la serie"]=[la serie]

#tambien se puden hacer operaciones(+,-,/,*) con las series ya esxitentes en el dataframe
# me da como resultado otra serie y la agrega al dataframe
nombre_dataframe["nombre de la serie"]=nombre_dataframe[la serie]/nombre_dataframe[la serie]

#crear una serie nuevva en el dataframe aplicando una funcion has
#a mi df en la columna nom_pais le voy a aplicar la funcion hash
df["Clave_Hash"]=df["cod_pais"].apply(hash_function)

In [16]:
#index
#index
ind=pd.Index([2,3,4,5,6,7,8,9])
ind

Int64Index([2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
#PARA QUE ME SIRVE INDEX 

#PARA HACER UNIONES DE INDEX
indA | indB  # union

#PARA SACAR LA INTERSECCION
indA & indB  # intersection

#PARA SACAR LOS ELEMENTOS DIFERENTEES DE LAS LISTAS
indA ^ indB  # symmetric difference

In [17]:
#ARMANDO UN DATAFRAME CON OBJETOS
d = {'tipo_vivienda': ['casa', 'departamento'], 'm2': [35, 49]}
df = pd.DataFrame(data=d)
df

  tipo_vivienda  m2
0          casa  35
1  departamento  49

cargar un data farme o exportarlo

In [ ]:
#exportar un dataframe

df_copia.to_excel("la ruta donde la vamos a poner")

Exportamos el csv ya transformado

In [ ]:
semanal.to_csv('Clase_04_temperatura_transf.csv')

Agregar columna de fechas del propio dataframe con import datetime

In [ ]:
data['fecha'] = pd.to_datetime({'year':data.anio, 'month': data.mes, 'day': data.dia})

Pasar las fechas a formato numero

In [ ]:
semanal['fecha_numeros']=semanal.index.map(datetime.datetime.toordinal)

Filtrar por lo que necesitamos

In [ ]:
vinos=pd.read_csv("wine_reviews.csv",usecols=fields)
vinos_argentina=vinos[vinos["country"]=="Argentina"]
vinos_argentina.head()

df_compra[(df_compra.IdProducto == 42880) & (df_compra.Fecha_Año >= 2020)][['Fecha_Numerico','Cantidad']]

In [ ]:
x = df_compra[(df_compra.IdProducto == 42880) & (df_compra.Fecha_Año == 2020)].Fecha_Numerico
y = df_compra[(df_compra.IdProducto == 42880) & (df_compra.Fecha_Año == 2020)].Cantidad

La separación entre los datos de entrenamiento y prueba, lo hacemos en base a períodos
Cuando es por fecha

In [ ]:
X_train = df_compra[(df_compra.IdProducto == 42880) & (df_compra.Fecha_Periodo >= 201901) & (df_compra.Fecha_Periodo < 202008)].Fecha_Numerico.values
y_train = df_compra[(df_compra.IdProducto == 42880) & (df_compra.Fecha_Periodo >= 201901) & (df_compra.Fecha_Periodo < 202008)].Cantidad.values
X_test = df_compra[(df_compra.IdProducto == 42880) & (df_compra.Fecha_Periodo >= 202008)].Fecha_Numerico.values
y_test = df_compra[(df_compra.IdProducto == 42880) & (df_compra.Fecha_Periodo >= 202008)].Cantidad.values

#CARGAR UN DATAFRAME SOLO LAS COLUMNAS QUE NOS INTERESAN

In [ ]:
import pandas as pd
# Definimos las columnas que nos interesan
fields = ['country', 'points','price', 'variety']
# Cargamos el DataFrame solo con esas columnas
wine_reviews = pd.read_csv('wine_reviews.csv', usecols = fields)

In [ ]:


#cambiar los \ por /
df_emisiones = pd.read_csv('../Clase 02/Emisiones_CO2.csv', sep='|', encoding='latin-1', decimal=',', thousands='.')


#VER INFORMACION DE LA BASE DE DATOS 
df_emisiones.info()

#CAMBIAR LOS ELEMENTOS "NA" DE UNA SERIE
df_emisiones.fillna(0)

#eliminar columnas
wine_reviews.drop(columns=['Unnamed: 0'], inplace = True)

#eliminar vairas columnas

wine_reviews.drop(["otra columna",'Unnamed:',"otyra"], inplace = True, axis=1)

#ELIMINAR LAS FILAS QUE CONTENGAN UN UN ELEMETNO NA  EL INPLACE SE PONE CUANDO YA ESTMOS SEGURO QUE LA VAMOS A CAMBIAR
df_emisiones.dropna(inplace=True)

#cuantos valores no nulos necesito o valores minimos thresh es el minimo de valores para no eliminar la fila o la colmbn
wine_reviews_copia.dropna(axis = 1, inplace = True)
wine_reviews_copia.dropna(inplace = True, thresh=3)

usuarios_df.dropna(subset=['edad']) # para un dataframe que elimine un NA de una serie en especifico
 
 #CAMBIAR NOMBRES A UNAS SERIES DE UN DATAFRAME
 df_emisiones.rename(columns={'CO2 (kt)':'Emisiones_CO2', 
                            'CO2 per cápita (toneladas métricas)':'Emisiones_CO2_percapita'}, 
                            inplace=True)
 
 #Este método devuelve una copia de la cadena en la que todos los caracteres basados ​​en mayúsculas y minúsculas se han escrito en minúsculas.
 def reemplazo(var):
    return var.lower()

#APPLY
#Aplicar una función a lo largo de un eje del DataFrame.
df_emisiones['Región'].apply(reemplazo)

usuarios_df.applymap(lambda x: x/2) # Se aplica elemento a elemento. En las series podemos usar directamente serie.map

#FUNCION LAMDDA X : X.LOWER()
df_emisiones['Región'].apply(lambda x: x.lower())


#FILTAR DOS SERIES
df_emisiones[(df_emisiones['Año'] == 2010) 
                & (df_emisiones['Nombre del país']=='Angola')].Emisiones_CO2.sum()

#SOLO ITERAR LOS QUE ESTAN DENTRO DEL HEAD
df_emisiones.head(10)


#CAMBIAR UNA COMA `(,) POR PUNTOS (.) Y VISEVERSA
df_emisiones['Emisiones_CO2'] = df_emisiones['Emisiones_CO2'].replace('.','')
df_emisiones['Emisiones_CO2'] = df_emisiones['Emisiones_CO2'].replace(',','.')

ANALISIS DESCRIPTIVO PARA PANDAS

In [ ]:
df.info() #me regala las columnas el tipo de datos

df.describe() #nos da los estadisticos

df.loc[0, 'Team']

df.iloc[0, [1]] # tengo que ingresar los indices numericos

df.iloc[2] #me regala toda la fila del datafreme

df.shape
df.columns

#hay na en dataframe
usuarios_df.isna()

#Devuelve las últimas n filas.
df.tail(4)

Correcalcion en un solo producto

In [ ]:
df_compra[(df_compra.IdProducto == 42880) & (df_compra.Fecha_Año >= 2020)][['Fecha_Numerico','Cantidad']].corr()

unique y value_counts()

In [ ]:
#Devuelve valores únicos basados ​​en una tabla hash.
#Los únicos se devuelven en orden de aparición. Esto NO se ordena
df['Team'].unique()

#Devuelve una Serie que contiene recuentos de filas únicas en el DataFrame.
df.Team.value_counts() #contar los valores de la columna

df.value_counts ( subconjunto = Ninguno , normalizar = Falso , ordenar = Verdadero , ascendente = Falso , dropna = Verdadero )
#Parámetros
#subconjunto similar a una lista, opcional
#Columnas para usar al contar combinaciones únicas.

#normalizar booleano, por defecto Falso
#Devuelve proporciones en lugar de frecuencias.

#ordenar booleano, por defecto Verdadero
#Ordenar por frecuencias.

#bool ascendente , por defecto falso
#Ordenar en orden ascendente.

#dropna bool, por defecto Verdadero
#No incluya recuentos de filas que contengan valores NA.

#nos da la correlacion de cada serie
df.corr()

ORDENAR DATOS

In [ ]:
df.sort_index() #ordena los valores segun los indices


#ORDENAR LOS VALORES DEL DATAFRAME SEFUN  LA SERIE QUE QUERAMOS
df.sort_values(["Goal Scored"], ascending=False).head()

TABLAS DINAMICAS

In [ ]:
import numpy as np
df.pivot_table(index='Team', columns='Round', values='Goal Scored', aggfunc=np.sum)

Concatenar dataframe

In [2]:
import pandas as pd

In [6]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
   

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11']},
                    index=[8, 9, 10, 11])

frames = [df1, df2, df3]


cont=pd.concat(frames)


pd.concat([df1, df3], axis=1) # Concatenación horizontal
df1.append(df2) # Append es otra forma de fácilmente concatenerar

C:\Users\casa\AppData\Local\Temp\ipykernel_14916\3105961593.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2) # Append es otra forma de fácilmente concatenerar

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [7]:
cont

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8  NaN
9    A9   B9   C9  NaN
10  A10  B10  C10  NaN
11  A11  B11  C11  NaN

Completar valores

In [ ]:
usuarios_df = pd.DataFrame({'edad': [np.nan, 20, 41, 20, 22, 25],
                            'clics_por_hora': [156, np.nan, 210, 210, 100, np.nan],
                            'genero': ['m','f','f','f','m','f']})
usuarios_df
usuarios_df_m = usuarios_df[usuarios_df['genero'] == 'm']
usuarios_df_f = usuarios_df[usuarios_df['genero'] == 'f']

#completar valores
usuarios_df_m['edad'].fillna(usuarios_df_m.edad.mean())
copia_df['edad'].fillna(usuarios_df.edad.mean())


#cuando ya este seguro inplace=true

copia_df.fillna(usuarios_df.edad.mean(), inplace=True) # Podemos elegir con qué completar los valores faltantes.


print(wine_reviews.price.mean())
print(wine_reviews.price.mode()[0])
print(wine_reviews.price.median())
print(wine_reviews.price.std())

In [ ]:
#applymap

#se le aplica a cada elemento del dataframe

usuarios_df.applymap(lambda x: x/2) # Se aplica elemento a elemento. En las series podemos usar directamente serie.map

Borrando duplicados

In [1]:
import pandas as pd
import numpy as np

In [2]:
usuarios_df = pd.DataFrame({'edad': [np.nan, 20, 41, 20, 20, 41],
                            'clics_por_hora': [156, np.nan, 210, 210, 100, np.nan],
                            'genero': ['m','f','f','f','m','f']})
usuarios_df

   edad  clics_por_hora genero
0   NaN           156.0      m
1  20.0             NaN      f
2  41.0           210.0      f
3  20.0           210.0      f
4  20.0           100.0      m
5  41.0             NaN      f

PARA QUITAR DUPLICADOS

In [3]:
usuarios_df.drop_duplicates(subset=['clics_por_hora'], keep='last', inplace=True) # Se puede jugar con el first, last, etc. Y también elegir en qué columnas

#ESTA DENTRO DE DOS [] POR QUE LE VOY A ENTEGAR UNA LISTA DE COLUMNAS
df_copia= df_copia[["cod_pais","nom_pais","region","Clave_Hash"]].drop_duplicates()

(ignore_index = True) #ordenar el indice o se puede utilizar .reset_index()

In [4]:
usuarios_df

   edad  clics_por_hora genero
0   NaN           156.0      m
3  20.0           210.0      f
4  20.0           100.0      m
5  41.0             NaN      f

#_Mayor puntaje

In [ ]:
idxmax()
wine_reviews.loc[wine_reviews.points.idxmax()]#["nombre de la serie"]si quiero especificamente esa #me devuelve toda la informacion de esa fila



#menor puntaje
wine_reviews.loc[wine_reviews.points.idxmin()]

__  ___________________________________________GRAFICOS_____________________________________________________________________

Matriz de confusion

from sklearn.metrics import ConfusionMatrixDisplay

cm_display = ConfusionMatrixDisplay(matrix)
cm_display_2 = ConfusionMatrixDisplay(matrix_2)

En este caso, ya no es necesario limitar el eje Y por la miniaturización del gráfico que probocaba nuestro punto máximo.

Práctiquemos un caso de uso la librería `datetime` para limitar el periodo temporal que queremos abarcar de nuestra serie.

In [ ]:

plt.xlim(datetime.date(2000,1,1), datetime.date(2015,1,1))

In [ ]:
fig, ax = plt.subplots(figsize=(4,5))

ax.matshow(matrix)
for (i, j), z in np.ndenumerate(matrix):
    ax.text(j, i, '{:0.1f}'.format(z), ha='center', va='center')
plt.show()

Matriz de confusion mas sencilla

In [ ]:
cm_display.plot()
plt.show()

Graficar K-Means

In [ ]:
sns.scatterplot(x = X1[:, 0], y = X1[:, -1], hue = etiquetas_1)
sns.scatterplot(x = centros_1[:, 0], y = centros_1[:, 1],color='black', marker="+", s=1000)
plt.title('Datos y cluster para el dataset 1')
plt.show()

DBSCAN

In [ ]:
def plot_DBSCAN(X1,labels_1,db_1,n_clusters_1):
    # Creamos una máscara
    core_samples_mask_1 = np.zeros_like(db_1.labels_, dtype=bool)
    core_samples_mask_1[db_1.core_sample_indices_] = True
    # Plot result

    
    unique_labels = set(labels_1)
    colors = [plt.cm.Spectral(each)
              for each in np.linspace(0, 1, len(unique_labels))]
    for k, col in zip(unique_labels, colors):
        if k == -1:
            col = [0, 0, 0, 1]

        class_member_mask = (labels_1 == k)

        xy = X1[class_member_mask & core_samples_mask_1]
        plt.plot(xy[:, 0], xy[:, 1], 'o', markerfacecolor=tuple(col),
                 markeredgecolor='k', markersize=14)

        xy = X1[class_member_mask & ~core_samples_mask_1]
        plt.plot(xy[:, 0], xy[:, 1], 'o', markerfacecolor=tuple(col),
                 markeredgecolor='k', markersize=6)
    plt.title('Número estimado de clusters: %d' % n_clusters_1, fontsize = 15)
    plt.show()
    return

Histograma

In [ ]:
plt.hist(wine_reviews_copia.points, bins= 20)#, log = True)
plt.xlabel('Puntaje')
plt.grid() #AÑADIR CUADRICULADO
plt.show()

Fronteras de decision

In [ ]:
ax = sns.scatterplot(x = X.iloc[:,0], y = X.iloc[:,1], hue= y, palette='Set2')
plt.legend().remove()


xlim = ax.get_xlim()
ylim = ax.get_ylim()
xx, yy = np.meshgrid(np.linspace(*xlim, num=200),
                      np.linspace(*ylim, num=200))
Z = clf.predict(np.c_[xx.ravel(), yy.ravel()]).reshape(xx.shape)

contours = ax.contourf(xx, yy, Z, alpha=0.3, cmap = 'Set2')
plt.tight_layout()
plt.title('Fronteras de decisión', fontsize= 15)
plt.show()

Definimos una función para ayudarnos a graficar un heatmap de correlación

In [ ]:
def plot_corre_heatmap(corr):
    '''
    Definimos una función para ayudarnos a graficar un heatmap de correlación
    '''
    plt.figure(figsize=(12,10))
    sns.heatmap(corr, cbar = True,  square = False, annot=True, fmt= '.2f'
                ,annot_kws={'size': 15},cmap= 'coolwarm')
    plt.xticks(rotation = 45)
    plt.yticks(rotation = 45)
    # Arreglamos un pequeño problema de visualización
    b, t = plt.ylim() # discover the values for bottom and top
    b += 0.5 # Add 0.5 to the bottom
    t -= 0.5 # Subtract 0.5 from the top
    plt.ylim(b, t) # update the ylim(bottom, top) values
    plt.show()

comportamiento de los datos de un único producto aleatorio

In [ ]:
plt.figure(figsize = (10,8))
sns.lineplot(x = 'Fecha', y = 'Cantidad', data = df_compra[df_compra.IdProducto == 42880], hue = 'IdProducto')
plt.show()

Convertimos el campos Fecha a un valor numérico para utilizarlo como input al modelo de regresión

In [ ]:
import datetime as dt
df_compra['Fecha_Numerico']=df_compra['Fecha'].map(dt.datetime.toordinal)
df_compra.head()

automarizar grafico

In [ ]:
mu = 20
sigma = 4
valores = mu + sigma * np.random.randn(10000)


# Aca decidimos la cantidad de bines que queremos tomar
for i_bin in [5,50,500,5000]:
    # Creamos la figura y los ejes
    fig, ax = plt.subplots()
    # Ploteamos el histograma
    n, bins, _ = ax.hist(valores, bins = i_bin)

Convertir los valores de un data frrame para coordenadas

In [ ]:
#para las coordenadas en x
j=vinos_argentina.price.values

#para las coordenadas en y
k=vinos_argentina.points.values

#creamos el scatter
fig = plt.figure()
ax = plt.axes()
ax.scatter(j,k)
ax.set(xlabel="Precio vinos",ylabel="Puntaje",title="precio vs puntaje")

FILTRANDO VALORES FALTANTES

In [ ]:
#valores faltantes en cada columna
wine_reviews.isna().sum()

#PARA SABER SI HAY VALORES FALTANTES, TE DEVUELVE UN BOOLEANO TRUE OR FALSE
usuarios_df.isna()

u2 = usuarios_df.dropna()  # Puede borrarse toda fila que contenga un NaN o solamente en las columnas que especificamos
usuarios_df.dropna(subset=['edad'])
wine_reviews_copia.dropna(inplace = True, thresh=3) #cuantos minimos nulos



#mas del 50% de valores faltantes
wine_reviews_copia.dropna(axis = 1, inplace = True, thresh=wine_reviews_copia.shape[0]*0.5)

#cuales son los indices con mas valores faltantes (axis=0)
#cuales son las columnas con mas valores faltantes(axis=1)

wine_reviews.isna().sum(axis = 1).idxmax() #esto me da el indice de la fila con mas valores faltante
wine_reviews.iloc[wine_reviews.isna().sum(axis = 1).idxmax()] # me devuleve toda la informacion en ese indice