In [27]:
import pandas as pd
import numpy as np


df1 = pd.read_csv("CP-M1-2_05_03\datasets\Fuentes_Consumo_Energia.csv")

argentina = df1[df1["Entity"] == 'Argentina']

argentina.shape[0]
type(argentina.shape[0])

int

In [28]:
def argentina ():
    df1 = pd.read_csv("CP-M1-2_05_03\datasets\Fuentes_Consumo_Energia.csv")
    argentina = df1[df1["Entity"] == 'Argentina']
    return (argentina.shape[0])

In [30]:
type(argentina())

int

In [ ]:
df2 = pd.read_csv("CP-M1-2_05_03\datasets\Fuentes_Consumo_Energia.csv")

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,Africa,NaN,1965,1.164586,0.034358,0.000000,13.905635,0.000000,0.000000,0.000000,1.173241
1,Africa,NaN,1966,1.163240,0.038412,0.000000,15.510004,0.000000,0.000000,0.000000,1.284154
2,Africa,NaN,1967,1.189050,0.037964,0.000000,16.190636,0.000000,0.000000,0.000000,1.273799
3,Africa,NaN,1968,1.236646,0.038480,0.000000,18.938341,0.000000,0.000000,0.000000,1.344219
4,Africa,NaN,1969,1.247915,0.044971,0.000000,22.100890,0.000000,0.000000,0.000000,1.362729
...,...,...,...,...,...,...,...,...,...,...,...
5185,World,OWID_WRL,2015,157.838896,125.208335,538.277477,3884.619692,2575.763561,256.838045,831.567439,183.210968
5186,World,OWID_WRL,2016,155.504177,128.124027,547.865908,4012.947981,2614.905286,328.237428,963.774036,186.912413
5187,World,OWID_WRL,2017,156.094106,131.708206,582.893132,4065.869592,2638.554157,446.946764,1140.971268,189.242920
5188,World,OWID_WRL,2018,158.793935,138.659832,615.038237,4171.404951,2700.373917,582.754345,1270.164880,191.451896
5189,World,OWID_WRL,2019,157.857047,141.452770,651.811211,4222.214992,2795.961529,724.086506,1429.619982,193.031574